/**
* CSS file to hold styles that apply across the application
*/

@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400&family=Montserrat:wght@200;400;600;800&display=swap");

html,
body {
  font-family: "Montserrat", sans-serif;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  width: 100%;
}


html {
  scroll-behavior: smooth;
}

div#main {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

section {
  position: relative;
  width: 100vw;
}

section.min-height {
  min-height: 90vh;
}

section.padding {
  padding: 2rem 0;
}

section img.background {
  height: 100%;
  left: 50%;
  object-fit: cover;
  pointer-events: none;
  position: absolute;
  top: 0;
  transform: translate(-50%, 0);
  width: 100%;
  z-index: -1;
}

section img.mypic {
  display: block; 
  margin: 0 auto; 
  height: auto; 
  max-height: 100%; 
  width: 100%; 
  object-fit: contain;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%); 
  pointer-events: none;
  z-index: -2; 
}

section img.image{
  height: 90%;
  width: 100%;
  object-fit: cover;
}

section h1{
  animation: slideInUp 1s ease-in-out;
} 

section h2{
  animation: slideInUp 1s ease-in-out;
}



h1 {
  font-family: "Cormorant Garamond", serif;
  font-size: 7rem;
  font-weight: 400;
  line-height: 0.8;
  margin: 0;
}

h2 {
  font-size: 2rem;
  text-align: left;
  font-weight: 400;
  margin: 0;
  padding-top: 1rem;
}
@media (max-width: 900px) {
  h1 {
      font-size: 5rem; /* Tablet font size */
  }
  h2 {
      font-size: 1.5rem; /* Tablet font size */
  }
}

h3 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 0;
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 0;
  font-weight: 300;
  text-align: left;
}

p.large {
  text-align: left;
  font-size: 1.2rem;
}

p.small {
  font-size: 1rem;
}

hr {
  margin: 2.5rem;
}

li {
  line-height: 1.7;
}

li::marker {
  color: #4e567e;
}

ul {
  text-align: left;
  columns: 2;
  font-size: 1.1rem;
  margin: 2rem 1rem;
  gap: 5rem;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #4e567e;
}
.container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 650px;
  margin: 20px auto;
}

.container .box {
  border-radius: 10px;
  border: 1px solid rgb(204, 204, 204);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 24px 16px;
  text-align: center;
}

.edcontainer {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 650px;
  margin: 20px auto;
}

@media (max-width: 600px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 25px auto;
  }
  .container .box {
    padding: 15px 10px;
  }

  p.small {
    font-size: 0.8rem;
  }

  .edcontainer {
    display: flex;
    justify-content: center;
    margin: 25px auto;
  }
  p.large {
      font-size: 0.8rem; 
  }
  p{
      font-size: 0.7rem; 
  }
  ul {
      gap: 1rem;
      font-size: 0.6rem; 
      margin: 1rem 0.5rem;
  }
  h3 {
    font-size: 0.9rem;
  }
  h4 {
    font-size: 0.7rem;
  
  }
  section img.image{
    width: 0
  }
}


.edcontainer .box {
  border-radius: 10px;
  border: 1px solid rgb(204, 204, 204);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 24px 16px;
  text-align: center;
}

img.socialIcon {
  height: 30px;
  width: 30px;
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInUp {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
